:root {
    --prymary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --prymary-white-color: #000000;
    --second-colr-text: #ffffff;
}
p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}
body {
    font-family: roboto, sans-serif;
    color: var(--prymary-text-color);
    margin: 0;
}

/* ------------------------класы для сброса---------------------- */
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
/* ------шапка сайта------ */
.header-container {
    display: flex;
    align-items: center;
    padding: 25px;
}

.header {
    margin: 0;
    border-bottom: 1px solid #ECECEC;
;
}
.header-navigation {
    display: flex;
    align-items: center;
}
.header-list {
    display: flex;
    margin-left: auto;
}
.header-logo {
    margin-right: 93px;
}

.header-item:not(:last-child), 
.header-mail {
    margin-right: 50px;
}


.header-logo,
.footer-logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: 700px;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #000000;
}
.footer-logo {
    color: var(--second-colr-text);
 }
.logo-title {
    color: var(--accent-color);
}

.header-link, .header-mail, .header-tel {
    font-weight: 500px;
    Font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.active {
    color: var(--accent-color);
}

.header-link:hover,
.header-mail:hover, 
.header-tel:hover,
.footer-mail:hover,
.footer-tel:hover {
    color: var(--accent-color);
}

.header-link:focus,
.header-mail:focus, 
.header-tel:focus,
.footer-mail:focus,
.footer-tel:focus {
    color: var(--accent-color);
}

.header-tel, .header-mail {
    color: var(--prymary-text-color);
}


/* ------------------------preview----------------------------------*/
.preview {
    background-color: #2F303A;
    padding: 200px;
}
.preview-text {
    margin: 0 auto;
    max-width: 700px;
    font-weight: 900px;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--second-colr-text);
}

.preview-btn {
    display: block;
    margin: 30px auto;
    height: 50px;
    min-width: 200px;
    
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-colr-text);
    background-color: var(--accent-color);
    border: none;
   
}

.preview-btn:hover,
.filtr-btn:hover {
    background-color: #118CE8;
    color: var(--second-colr-text);
}
.preview-btn:focus,
.filtr-btn:focus {
    background-color: #118CE8;
    color: var(--second-colr-text);
}

/* ----------------стиль для страницы портфолио ----------------*/
.filtr {
    display: flex;
    margin-bottom: 54px;
    justify-content: center;
    text-align: center;
}
.position-portfoloio {
    padding-bottom: 30px;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em; 
}

.portfolio {
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid #EEEEEE;
}
.portfolio:nth-child(3n) {
    margin-right: 0px;
}

.position-portfolio {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
}
.filtr-btn {
    display: inline-block;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
    cursor: pointer;
    background-color:#F5F4FA;
    border: none;
}
.filtr-m:not(:last-child) {
    margin-right: 8px;
}
.proect-card {
    display: flex;
    align-content: center;
    flex-wrap: wrap;    
}

.title {
    font-weight: 700px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    text-transform: uppercase;
    margin: 0;
}

.text {
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em
}

.work,
.team-title {
    margin-top: 0;
    font-weight: 700px;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.team-name {
    font-weight: 500px;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var( --title-text-color);

}

.position {
    padding-bottom: 30px;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
}

/* -------------------особенности----------------- */
.info-section {
    display: none;
    
}

.benefits {
    display: flex;
}

.benefits-text:not(:last-child) {
    margin-right: 30px;
}
/* -------------------------work---------------------- */
.galery {
    display: flex;
    margin-top: 50px;
    
}
.img-work:not(:last-child) {
    margin-right: 30px;
}

/* -----------------командв------------------- */
.team-section {
    background-color: #F5F4FA;
}
.team {
    display: flex;
}
.team-title {
    padding-bottom: 50px;
    
}
.team-card:not(:last-child) {
    margin-right: 30px;
}
.team-name {
    margin: 30px 0 10px 0;
}
.team-card {
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
                0px 1px 1px rgba(0, 0, 0, 0.14), 
                0px 2px 1px rgba(0, 0, 0, 0.2);
}
/* ------------------подавл сайта ---------------------------*/
.footer {
    background-color: #2F303A;;
    padding: 60px;
}

.footer-logo {
    display: block;
    margin-bottom: 20px;
}

.footer-info {
    margin-bottom: 9px;
}

address {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;

}

.footer-mail,
.footer-tel {
    font-style: normal;
    font-weight: 400px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.proect {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
}